@page
@model IndexModel
@{
    ViewData["Title"] = "Manufacturer Manager";
}

    <h1 class="display-4 text-center">Manufacturer Manager</h1>
    <p class="text-center">This application is used to add and update Manufacturers and Widgets</p>

    